@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "DETALLE DE COSTEO";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="~/css/index.css" />
<link rel="stylesheet" href="~/css/body.css" />
<link rel="stylesheet" href="~/css/boton.css" />

<style>
      
</style>
@{
    ApplicationUser myidentity = null;
    IList<string> roles = new List<string>();

    if (User.Identity.IsAuthenticated)
    {
        myidentity = await UserManager.GetUserAsync(User);
        if (myidentity != null)
        {
            roles = await UserManager.GetRolesAsync(myidentity);
        }
    }
}


<body>
    <section class="content bienvenida"  style="min-height: 90vh; ">
        <h2 class="title">
            <span class="wellcome">DETALLE DE COSTEO</span>
        </h2>
        
    </section>

</body>