@page
@model proyecto.Areas.Identity.Pages.Account.ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirmar cambio de correo electrónico";
    Layout = null;
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
