@page
@model proyecto.Areas.Identity.Pages.Account.ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Olvidé la confirmación de contraseña";
    Layout = null;
}

<head>
    <title>Olvidé la confirmación de contraseña</title>
    <link rel="icon" href="~/images/locode.jpeg" />
    <link rel="stylesheet" href="~/css/formularios.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/body.css" />
</head>

<div class="formulario">
    <form method="post">
        <div id="title">
            <h1>@ViewData["Title"]</h1>
        </div>
        <h2>Por favor revise su correo electrónico para restablecer su contraseña.</h2>
        <div class="imagen">
            <img src="~/images/locode.jpeg" alt="Lo-code">
        </div>
    </form>
</div>

<style>
    .imagen{
        margin: 2rem;
    }
    .imagen img{
        border-radius: 2rem;
        width: 60%;
        height: 60%;
    }
</style>
