@page
@model proyecto.Areas.Identity.Pages.Account.LockoutModel
@{
    ViewData["Title"] = "Bloqueado";
    Layout = null;
}
<head>
    <title>Bloqueado</title>
    <link rel="icon" href="~/images/ALZEN_logo.png" />
</head>
<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Esta cuenta ha sido bloqueada, inténtalo de nuevo más tarde.</p>
</header>
