@page
@model proyecto.Areas.Identity.Pages.Account.LoginModel

@{
    ViewData["Title"] = "Iniciar Sesión";

    Layout = null;
}

<head>
    <title>INICIO DE SESIÓN</title>
    <link rel="icon" href="~/images/ALZEN_logo.png" />
    <link rel="stylesheet" href="~/css/formularios.css" />
    <link rel="stylesheet" href="~/css/login.css"/>
</head>

<body>
    <div class="formulario">
        <form method="post">
            <img src="~/images/usuario.png" alt="Descripción de la imagen" class="mi-imagen">
            <span id="mensaje">Ingresar datos para iniciar sesión</span>
            <div class="inputBox">
                <div class="input" id="input-email">
                    <input type="text" asp-for="Input.Email" autocomplete="email" aria-required="true"  placeholder="Correo Electrónico"/>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>

        <div class="inputBox">
            <div class="input">
                <span>Contraseña</span>
                <input asp-for="Input.Password" autocomplete="current-password" aria-required="true"
                    placeholder="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        </div>

        <!--<div class="inputBox">
            <div class="checkbox">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @@Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>-->

        <input type="submit" value="INGRESAR" class="btn"></input>

        <div class="login-options">
            <div class="input">
                <a id="forgot-password" asp-page="./ForgotPassword">Recuperar Contraseña</a>
            </div>
            <div class="input">
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrarse como nuevo
                    usuario</a>
            </div>
            
        </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}