@page
@model proyecto.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel

@{
    ViewData["Title"] = "Contraseña Restablecida Exitosamente";
    Layout = null;
}

<head>
    <title>Reset password confirmation</title>
    <link rel="icon" href="~/images/locode.jpeg" />
    <link rel="stylesheet" href="~/css/formularios.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<body>
    <div class="formulario">
    <form>
        <div id="title">
            <h1>@ViewData["Title"]</h1>
        </div>

        <div class="inputBox">
            <div class="input">
                <h2>La contraseña se ha recuperado de manera exitosa</h2>
                <h2>Por favor <a asp-page="./Login">haga clic aquí para iniciar sesión</a>.</h2>
            </div>
        </div>
    </form>
</div>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}