@page
@model proyecto.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel

@{
    ViewData["Title"] = "Restablecer confirmación de contraseña";
    Layout = null;
}

<head>
    <title>Reset password confirmation</title>
    <link rel="icon" href="~/images/locode.jpeg" />
    <link rel="stylesheet" href="~/css/formularios.css" />
    <link rel="stylesheet" href="~/css/register.css" />
    <link rel="stylesheet" href="~/css/body.css" />
</head>

<div class="formulario">
    <form>
        <div id="title">
            <h1>@ViewData["Title"]</h1>
        </div>
        <h2>Confirmación de restablecimiento de contraseña</h2>
        <hr id="line" />

        <div class="inputBox">
            <div class="input">
                <p>Tu contraseña ha sido restablecida exitosamente.</p>
                <p>Por favor <a asp-page="./Login">haga clic aquí para iniciar sesión</a>.</p>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}