@page
@model proyecto.Areas.Identity.Pages.Account.ResetPasswordModel
@{
    ViewData["Title"] = "Restablecer la contraseña";
    Layout = null;
}

<head>
    <title>Restablecer la contraseña</title>
    <link rel="icon" href="~/images/locode.jpeg" />
    <link rel="stylesheet" href="~/css/formularios.css" />
    <link rel="stylesheet" href="~/css/register.css" />
    <link rel="stylesheet" href="~/css/body.css" />
</head>

<div class="formulario">
    <form method="post">
        <div id="title">
            <h1>@ViewData["Title"]</h1>
        </div>
        <h2>Restablecer su contraseña.</h2>
        <hr id="line" />

        <div asp-validation-summary="ModelOnly" role="alert"></div>
        <input asp-for="Input.Code" type="hidden" />
        <div class="inputBox">
            <div class="input">
                <span>Correo Electrónico</span>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="input">
                <span>Nueva Contraseña</span>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="************" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        </div>

        <div class="inputBox">
            <div class="input">
                <span>Confirmar Contraseña</span>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="************" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>

        <input type="submit" value="Reiniciar" class="btn">

        <div class="input">
            <!-- Enlace para volver al inicio de sesión -->
            <a asp-page="./Login">Volver al Login</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
